@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
:root{
	margin:0;
	padding:0;
	box-sizing: border-box;
	
	
}


img{
	max-width: 100% !important;
	width: 100%;
    
}
a:hover{
	text-decoration: none;
	color: #fff;
}





/*********** typography****************/
/* devanagari */
@font-face {
	font-family: 'Poppins-Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../web-fonts/Poppins-Regular.ttf) format('truetype');
  }
  @font-face {
	font-family: 'Poppins-Medium';
	font-style: normal;

	src: url(../web-fonts/Poppins-Medium.ttf) format('truetype');
  }
  @font-face {
	font-family: 'Poppins-SemiBold';
	font-style: normal;

	src: url(../web-fonts/Poppins-SemiBold.ttf) format('truetype');
  }
  @font-face {
	  font-family: 'Poppins-Bold';
	  src: url(../web-fonts/Poppins-Bold.ttf);
  }
  body{
	
	font-family: 'Poppins-Regular', sans-serif;
	
}


/***********yellow section***************/

.yellow-section{
	padding: 6.65rem 0;
	background: #fcc302;
}

.yellow-section .row{
	justify-content: center;
    font-family: 'Poppins', sans-serif;
}	
.yellow-section .row .card-img{
	text-align: center;
}	
 .yellow-section-title{
text-align: center;
color: white;
font-size: 70px;
}
.yellow-section-paragraph{
	text-align: center;
	color: white;
	font-size: 33px;
}


/******card**********/


.yellow-section .card{
padding: 2rem;
text-align: center;
}
.yellow-section .mycard-title{
text-align: center;
color: white;
padding: 20px 0 10px;
}
.yellow-section .mycard-paragraph{
text-align: center;
color: white;
font-size: 25px;
}

/*************white section***************/
.white-section{
   
    background: #fff;
    color:#313243;
}

.white-section .row{
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}	
.white-section .title{
	text-align: center;
	color: #313243;
	font-size: 50px;
	padding: 10px 0;
	font-family: 'Poppins', sans-serif;
	;
	}
	.white-section .paragraph{
		text-align: center;
		color: #313243;
		font-size: 20px;
	}
/******************** navbar styling ************************************/

.navbar-row{
	background-color: #daac00;
}
.navbar{
	width:100%;
	padding: 16px 8px;
	margin: 0 7px;
	
}
.navbar-toggler-icon{
	color:white;
}
.navbar .nav-item{
	padding: 0 13px;
}
.nav-item .nav-link{
	font-size:23px;
	color:white;
	padding: 0 20px;
	font-family: 'Poppins-Medium', sans-serif;
	text-align: center;
}
.navbar .form-inline{
	justify-content: center;
    box-shadow: 0 5px 5px rgb(52 52 52 / 30%);

}
.search-input::placeholder {
	color: #fff;
	opacity:1;

  }
input.form-control.search-input {

    border-radius: 0;
    background:#fcc302;
	box-shadow: 5px ;
	border: 0;
	color: #fff;
}
.search-btn{
	background-color: #00bec9;
	color:white;
	border-radius: 0;
}

/******************* header section *************************/
.header{
	background-color: #daac00;
}
#banner{
	 background:#fcc302;;
}
.row.banner{
   padding: 3.5rem 0;
	color:white;
}
/* .row.banner .col-md-8{
	 padding: 4rem; 
} */
.banner button{
	margin: 5px 0;
}
.big-heading{
	font-size: 65px;
	margin: 54px 0 20px;
	/* margin: 20px 0; */
	font-family: 'Poppins-SemiBold', sans-serif; 
}
.header-paradraph{
	font-size: 29px;
	margin: 30px 0;
	font-family: 'Poppins-Regular', sans-serif; 
}
.banner button{
	font-size: 20px;
	margin-right:  20px;
	margin-bottom:  20px;
	font-family: 'Poppins-SemiBold', sans-serif; 
}
.contact-button{
	background: #00bec9;
	color:white;
	font-family: 'Poppins-SemiBold', sans-serif; 
}
/* 
Call to Action section*/

.cta{

	font-family: 'Poppins', sans-serif;
	margin:2rem;
	padding: 6.375rem 0;
}
.cta .cta-text{
	/* padding: 2rem 0; */
	padding: 3rem 0;
	padding-right: 20px;

}
.cta-heading{
	color:#313243;
	font-size:50px;
	/* margin: 20px 0; */
	font-family: 'Poppins-SemiBold', sans-serif; 

}
.cta-paragraph{
	font-size: 29px;
	margin: 20px 0;
	font-family: 'Poppins-Regular', sans-serif; 
}
.cta-btn{
	background: #fcc302;
	color:white;
	font-family: 'Poppins-SemiBold', sans-serif; 
}
/* call to action 1*/
#cta-play-btn{
	position: absolute;
	top: 40%;
    right: 40%;
}
#cta-play-btn, #cta-1-play-btn{
	width:10% !important;
}
#cta-1 .main-img{
	padding-left: 30px;
}



/* Call to Action Section 2 */
#cta-1-play-btn{
	position: absolute;
	top: 50%;
	right: 50%;
}
#cta-2{

	font-family: 'Poppins', sans-serif;
	margin:2rem;
	padding: 6.375rem 0;
}
#cta-2 .cta-heading , #cta-2 .cta-paragraph, #cta-2 .cta-btn{
	text-align: right;
}
#cta-2 .cta-text{
	padding: 48px 0 48px 20px ;
}
.cta-btn-div{
	justify-content: flex-end;
    display: flex;
}
/*********services section*************/
#services .yellow-section-title{
	font-family: 'Poppins-Bold', sans-serif; 
}
#services .yellow-section-paragraph{
	font-family: 'Poppins-Regular', sans-serif; 
}
#services .mycard-title {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 34px;
}
#services .mycard-paragraph{
	font-family: 'Poppins-Regular', sans-serif; 
}
.mycard .card-1{
	padding: 32px 32px 32px 0;
}
.mycard .card-2{
	padding: 32px 16px 32px 16px;
}
.mycard .card-3{
	padding: 32px 0 32px 32px;
}

/* pricing section */
#pricing .yellow-section-title{
	font-family: 'Poppins-Bold', sans-serif; 
}
#pricing .yellow-section-paragraph{
	font-family: 'Poppins-Regular', sans-serif; 
}
.stike-through{
	text-decoration: line-through;
	padding: 10px;
	margin: 10px;
	font-family: 'Poppins-SemiBold', sans-serif; 
}

	.buy{
		border-radius: 40px;
		background:#00bec9 ;
		color: #fff;
		margin-bottom: 20px;
		padding: 8px 30px;
		font-family: 'Poppins-SemiBold', sans-serif; 
	}
	.buy-btn-div{
		text-align: center;
	}

	/**team section */
	#team{
		padding: 8.75rem 0;
	}

	#team .title{
		font-family: 'Poppins-Bold', sans-serif; 
		font-size: 75px;
	}
	#team .paragraph{
		font-family: 'Poppins-Regular', sans-serif; 
		font-size: 33px;
		padding-bottom: 70px;
	}
	
	/****team card**********/
	
	.team-card{
	/* padding: 2rem 0; */
	text-align: center;
	}
	.team-card-title{
	text-align: center;
	color: #313243;
	padding: 10px 0 0 0;
	font-size: 30px;
	margin: 0;
	font-family: 'Poppins-Bold', sans-serif; 
	}
	.team-card-paragraph{
	text-align: center;
	color: #313243;
	font-size: 20px;
	font-family: 'Poppins-Regular', sans-serif; 
	}
	.team-card .card-1{
		padding: 32px 32px 32px 0;
	}
	.team-card .card-2{
		padding: 32px 16px 32px 16px;
	}
	.team-card .card-3{
		padding: 32px 0 32px 32px;
	}
	.social-icon-div{
		text-align: center;
		margin-bottom: 20px;
	}
	.social-icon{
		
			width: 32px;
			height: 32px;
			background: #fcc302;
			border-radius: 100%;
			color: #fff;
			margin: 0 5px;
			line-height: 32px;
			font-size: 18px;
		
	}
    /********counter ***************/
    #counter{
        background-image: url('../images/counter-background.jpg');
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: cover; /* Resize the background image to cover the entire container */
		padding: 5rem 0;
    }
	
    #counter .mycard-title{
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 37px;
		font-family: 'Poppins-Medium', sans-serif; 
    }
    #counter .mycard-paragraph{
      
		font-family: 'Poppins-Bold', sans-serif; 
		font-size: 37px;
    }
    #counter .column{
        margin: 20px 0;
    }
#counter  .row .card-img {
    text-align: center;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 29px;
}
#counter .mycard :nth-child(2) .card-img{
	margin-bottom: 10px;
}




    /**********************post section************************/
    #post{
        padding: 6em 0;
    }
    #post .title{
        font-size: 75px;
        font-family: 'Poppins-bold', sans-serif;
        margin: 10px 0;
    }
    #post .paragraph{
        font-size: 33px;
		font-family: 'Poppins-Regular', sans-serif; 
		margin-bottom: 90px;
    }
    #post .card-deck .card-title{
        font-size: 25px;
        font-family: 'Poppins-SemiBold', sans-serif; 
		color: #343434;
    }
    #post .card-deck .date{
        font-size: 16px;
        color:#00bec9;
		font-family: 'Poppins-Regular', sans-serif; 
    }
    #post .card-text{
        font-size: 16px;
		font-family: 'Poppins-Regular', sans-serif; 
    }
    #post .read-btn a{ 
        font-size: 20px;
        font-weight: 600;
        color:#00bec9;
		font-family: 'Poppins-Medium', sans-serif; 
    }
	
    /************footer****************/
    footer{
        background:#343434;
        padding: 5em 0;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        text-align: left;
    }
    footer .row{
        justify-content: space-between;
    }
footer .nav-item .nav-link.main{
    font-size: 37px;
	font-family: 'Poppins-SemiBold', sans-serif; 
	text-align: left;
}
footer .nav-item .nav-link{
    font-size: 25px;
	text-align: left;
	font-family: 'Poppins-Regular', sans-serif; 
   
}
footer .nav-item{
    padding: 3px 0;
}
footer .desc .search-input{
    padding: 32px;
}
footer .desc{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
footer .desc h1{
	font-family: 'Poppins-SemiBold', sans-serif; 
	font-size: 37px;

}
footer.desc p{
	font-family: 'Poppins-Regular', sans-serif; 
}
footer .desc .search-btn{
    padding: 19px 25px;
}
footer .desc .form-inline{
	flex-wrap: nowrap;
}
footer .social-icon-div{
	margin-top: 26px;
}
footer .social-icon{
    color: #343434;
    background-color: #fff;

}
.desc p {
    
    font-size: 21px;
}

   
    
	/*******************************************************************media queries***************************************************************/

	@media all and (max-width:1253px){
		/*************header section***************/
        .navbar .form-inline{
            flex-wrap: nowrap;
        }
		.header-img{
			display: none;
		}
    

	}
	@media screen and (max-width:1199px) {
		/****nav bar**/
		.nav-item .nav-link {
			font-size: 18px;
			
		}
		form-inline .form-control {
		
			width: auto;
		}
		/************cta ***/
		.cta-heading {
			font-size: 43px;
		}
		.cta-paragraph {
			font-size: 20px;
		}
		.cta-btn {
	     font-size: 15px;
		}
		/********services *************/
		#services .mycard-title {
			font-size: 30px;
		}
		#services .mycard-paragraph {
			font-size: 20px;
		
		}
		/**footer**/
		footer .nav-link.main{
			font-size: 30px;
			
		}
		footer .nav-item .nav-link  {
			font-size: 20px;
		
		}
		
	}
    @media all and (max-width:1088px){
		/*****************call to action*********************/
        .cta .cta-text {
             padding: 2rem 0;
        }
	/*************************footer************************/
	footer .desc .search-input {
		padding: 18px;
	}
	footer .desc .search-btn {
		padding: 6px 25px;
	}
	
		footer .nav-item .nav-link {
			font-size: 16px;
		}
        .desc .form-inline {
            flex-wrap: nowrap;
        }
		.desc h1{
			font-size: 32.5px;
		}
	.desc p{
		text-align: right;
	}
    }
	@media all and (max-width:992px){
		
		.cta {
			
			padding: 3.375rem 0;
		}
		.cta-heading {
			font-size: 60px;
		}
		.cta-paragraph {
			font-size: 25px;
		}

		.cta-btn {
			font-size: 20px;
		}
		.yellow-section {
			 padding: 3rem 0;
		
		}
		#services .mycard-title {
			font-size: 23px;
		}
		
		.yellow-section-paragraph {
			
			font-size: 30px;
		}
		.yellow-section .mycard-title {
		
			padding: 20px 0 0px;
			font-size: 25px;
		}
		#services .mycard-paragraph {
			font-size: 15px;
		}
		.buy {
			
			margin-left: 20px;
			padding: 4px 13px;
			font-size: 16px;
		}
		#team {
			padding: 3.75rem 0;
		}

              #team .paragraph {
              
                 font-size: 27px;
                      padding-bottom: 1px;
}
.team-card-title {
    
    font-size: 22px;
   
}
.team-card-paragraph {
    
    font-size: 17px;
    margin-bottom: 5px;
    padding-bottom: 0;
}
.social-icon {
    width: 27px;
    height: 27px;
    margin: 0px 3px;
    line-height: 27px;
    font-size: 14px;
}


#counter {
 
    padding: 3rem 0;
}
#counter .mycard-title {
    font-size: 27px;
}
#counter .mycard-paragraph {
    font-size: 27px;
}
#counter .mycard :nth-child(2) .card-img {
    margin-bottom: 16px;
}
#post {
    padding: 3em 0;
}
#post .paragraph {
    font-size: 27px;
    margin-bottom: 50px;
}
.footer-nav .navbar-nav{
	align-items: center;
}

		footer .desc {
			align-items: center;
			padding-top: 20px;
		}
	}
	@media (max-width:986px){
		input.form-control.search-input {
			
			width: 100%;
		}
	}
    @media all and (max-width:936px){
		/***************yellow section*****************/
		.yellow-section{
			padding: 2rem;
		}
		 .yellow-section-title{
		font-size: 35px;
		}
		.yellow-section-paragraph{
			font-size: 20px;
		}
		
		
		/******card**********/
		
		
		.yellow-section .card{
		padding: 1rem;
		
		}
		.yellow-section .mycard-title{
			font-size: 20px;
		}
		.yellow-section .mycard-paragraph{
		text-align: center;
		color: white;
		font-size: 15px;
		}
		
		.buy-btn-div .btn{
		padding:8px;
		font-size: 15px;
		}
				/***************white section*****************/
		.white-section .title{
			font-size: 35px;
		}
		.white-section .paragraph{

		font-size: 20px;
		}
			/***************team section*****************/
			.team-card{
				padding: 1rem;
			
				}
				.team-card-title{
				font-size: 20px;
				
				}
				.team-card-paragraph{
				font-size: 15px;
				}
				.social-icon{
	
					
					margin: 0 2px;
				}

				/***************post section*****************/
	
        #post{
            padding: 3em;
        }
        #post .title{
            font-size: 50px;
            margin: 10px 0;
        }
        #post .paragraph{
            font-size: 20px;
        }
        #post .card-deck .card-title{
            font-size: 18px;
        }
        #post .card-deck .date{
            font-size: 10px;
            color:#00bec9;
        }
        #post .card-text{
            font-size: 14px;
        }
        #post .read-btn a{
            font-size: 16px;
            color:#00bec9;
        }
			/***************footer section*****************/
        footer .desc{
          
            align-items: center;
            padding-top: 10px;
           
        }
    }


    @media all and (max-width:770px){

		.cta {
			padding: 1.375rem 0;
		}
		.cta-heading {
			font-size: 49px;
		}
		.cta-btn {
			font-size: 16px;
		}
		.mycard .card-1 {
			padding: 32px 10px;
		}
		.mycard .card-2 {
			padding: 32px 10px;
		}
		.mycard .card-3 {
			padding: 32px 10px;
		}
		#cta-2 .cta-heading, #cta-2 .cta-paragraph, #cta-2 .cta-btn {
			text-align: left;
		}
		.cta-btn-div {
			justify-content: flex-start;
		}
		#team .title {
			font-size: 50px;
		}
		#team .paragraph {
			font-size: 23px;
			margin: 0;
			padding-bottom: 1px;
			/* padding-bottom: 0; */
		}
	}



	@media screen and (max-width:626px) {

		/***********header*************/
		.row.banner{
			padding: 20px;
			
		}
		.row.banner .col-md-8{
			padding: 0;
		}
		.big-heading{
			font-size: 45px;
			margin: 20px 0;
		}
		.header-paradraph{
			font-size: 29px;
			margin: 30px 0;
		}
		.banner button{
			font-size: 20px;
			margin-right:  20px;;
		}
		/******************yellow section*********************/
		.yellow-section{
			padding-left: 10;
			padding-right: 10;
		}
		/******************call to action *******************/
		#cta {
			 margin: 0;
			padding: 0;
		}
		#cta-2 .cta-heading , #cta-2 .cta-paragraph, #cta-2 .cta-btn{
			text-align: left;
		}
		.cta-btn-div{
			justify-content: flex-start;
			display: flex;
		}
		.white-section .cta-text{
			margin-left: 28px;
			padding: 0;
		}
		.cta-btn{
			margin-bottom: 10px;
		}
		#cta-2 .cta-text .cta-heading{
			font-size: 45px !important; 
		}
		#cta-2 .cta-text .cta-paragraph{

		font-size: 29px !important;
		}
		
		/*************************card section**********************/
		.mycard,.team-card{
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
	/**********************white section **********************/
		.white-section{
			padding-left: 0;
			padding-right: 0;
		}
		.white-section .cta-heading{
			font-size: 45px;
		}
		.white-section .cta-paragraph{

		font-size: 29px;
		}
		
		/**************************** post section **********************************/
        #post{
            padding: 10px;
        }
		
		
		
		}
        @media screen and (max-width:576px) {
            #post{
                padding: 2em;
            }
        }
		@media screen and (max-width:457px) {
			.contact-button {
		
				margin-bottom: 10px;
			}
			.yellow-section {
				 padding: 20px 0; 
			}
			.buy-btn-div .btn {
				padding: 10px 20px;
				
			}
			#post {
				 padding: 20px 0; 
			}
			
			/*******************call to action ************************/
			.cta{

				
				margin:1rem;
				padding: 0rem;
			}
			.cta .cta-text{
				padding: 0rem;
			
			}
			#cta-1 .main-img {
				padding-left: 0;
			}
			.cta-btn{
				padding: 5px;
			}
			.cta-heading{
				color:#313243;
				font-size:28px;
				font-weight: 600;
			
			
			}
			.cta-paragraph{
				font-size: 15px;
				margin: 20px 0;
			}
			.mycard .card-1 {
				padding: 0px 10px;
			}
			.mycard .card-2 {
				padding: 0px 10px;
			}
			.mycard .card-3 {
				padding: 0px 10px;
			}
			#cta-2 .cta-text .cta-heading {
				font-size: 42px !important;
			}
			#team .title {
				font-size: 43px;
			}
			#team .paragraph {
				font-size: 20px;}
			
		}
		@media screen and (max-width:415px) {
			/*******************call to action ************************/
			
			.cta .cta-text{
				padding: 0;
			
		}
		#cta-2{
			margin: 1rem 0;
		}
		#cta-2 .cta-text {
			 padding: 20px 0  0 0; 
		}

		.team-card .card-1 , .team-card .card-2, .team-card .card-3{
			padding: 20px  0; 
		}
	}
		@media screen and (max-width:376px) {
			/********************header section************************/
	
			.navbar-toggler {
				display: contents;
			}
.big-heading {
				font-size: 39px;
			}
.header-paradraph{
	font-size: 26px;
	
}
.banner button{
	font-size: 15px;
	margin-right:  20px;
}
/******************white section ******************/
.white-section {
    padding-left: 5px;
    padding-right: 5px;
}
.white-section .cta-text {
  
    margin-right: 20px;

}
/*********************** Call to action ************************/
.cta {
	margin: 10px 0;
	padding: 0;
}
.white-section .cta-heading{
	font-size:35px;

}
.white-section .cta-paragraph{
	font-size: 20px;

}
#cta-2 .cta-text .cta-heading {
	font-size:35px !important;

}
#cta-2 .cta-text .cta-paragraph{
	font-size: 20px !important;

}
.cta-btn{
	padding: 10px;
	font-size: 15px;
}
/******************************post***************************/
#post .title{
	font-size: 35px;

}
#post .paragraph{
	font-size: 20px;
}

		

		/************footer section*************/
			
		footer .desc .search-btn {
			padding: 2px 8px;
		}
		
		footer .desc .search-input {
		   height: 30px;
		}
		footer {
		   
			padding: 2em;
		}
					
		footer .desc .search-input {
			padding: 0px;
		}	
		
		
			
	}
	
